@use crate::{db::{Contact, Instance}};
@use activitystreams::iri_string::types::IriString;

@(instance: &Instance, software: Option<&str>, contact: Option<&Contact>, base: &IriString)
<section class="instance">
	<div class="admin">
	<div class="left">
		@if let Some(contact_a) = contact {
		<figure class="avatar">
			<img loading="lazy" src="@contact_a.avatar">
		</figure>
		} else {
			@if let Some(software_a) = software {
				@if software_a == "misskey" {
					<figure class="avatar">
						<img loading="lazy" src="https://data.aokaga.work/calckey/data/webpublic-adf0066c-345c-46af-b8cb-3621de354915.webp">
					</figure>
				}
				@if software_a == "calckey" {
					<figure class="avatar">
						<img loading="lazy" src="https://data.aokaga.work/calckey/data/0efee414-5790-45cf-b5b8-febb360af9a0.png">
					</figure>
				}
				@if software_a == "firefish" {
					<figure class="avatar">
						<img loading="lazy" src="https://data.aokaga.work/calckey/data/03d6f78f-ca4b-454e-b921-f18a9e00397c.png">
					</figure>
				}
				@if software_a == "akkoma" {
					<figure class="avatar">
						<img loading="lazy" src="https://data.aokaga.work/calckey/data/015feb6c-b787-409b-b684-ad2c77d9eafd.png">
					</figure>
				}
			}
		}
	</div>
	<div class="right">
		<h4 class="padded">
			<a href="@base">@instance.title</a>
		</h4>
		<p class="padded" style="font-size:7pt;">
			@if let Some(software_b) = software {
			Running @software_b, version @instance.version.
			}
			@if instance.reg {
			<br><span style="color:rgba(80, 80, 255);font-weight:bold;">開放中 (Registration is open.)</span>
			@if instance.requires_approval {
			<br>Accounts must be approved by an admin.
			}
			} else {
			<br><span style="color:rgba(255,80,80);font-weight:bold;">承認制 (Registration is closed.)</span>
			}
			<br>Last updated: @instance.updated
		</p>
	</div>
	</div>
</section>

